@font-face {
    font-family: "Norse";
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

:root {
    --form-padding-left: 3vw;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 100%; /* Base font size */
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Buttons */
button {
font-size: medium;
font-weight: 600;
background-color: rgb(236, 104, 52); /* Button color */
color: white; /* Button text color */
border: none; /* No border */
padding: 0.75rem 1.5rem; /* Padding */
border-radius: 5px; /* Rounded corners */
cursor: pointer; /* Pointer cursor */
width: fit-content;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
background-color: #cc7109; /* Darker button color on hover */
}
/* Links */
a {
color: #ee532c; /* Link color */
text-decoration: none; /* No underline */
}

a:hover {
text-decoration: underline; /* Underline on hover */
}
/* Utility classes */
.text-center {
text-align: center; /* Center text */
}
.italic-text {
    font-style: italic;
}
.credit-link {
    color:white;
}

.container {
display: flex;
flex-direction: row;
width: 100%;
height: 100vh;
margin: 0 auto;
 /* Center the container */
flex: auto;
text-align: center;

}

.splash {
    position: relative;
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(pics/christina-dellisante-VkWH9RclrhU-unsplash.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgb(247, 247, 247);
    align-items: center;
    flex-grow: 1;
}

.credit {
    position: absolute;
    /* text-align: center; */
    color: white;
    bottom: 2vh;
    font-weight: 200;
    
    /* margin: 0 auto; */
    /* margin-bottom: 10px; */
}

.header {
    /* top: 50vh; */
    align-self: flex-start;
    text-align: start;
    padding-top: 16vh;
    padding-left: var(--form-padding-left);
    padding-bottom: 5vh;
}

.formBody {
    display: flex;
    flex-direction: column;
    height: 32%;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding-left: var(--form-padding-left);
    padding-top: 10px;
}

.footer {
    padding-top: 4vh;
    text-align: start;
    align-self: flex-start;
    padding-left: var(--form-padding-left);

}

.login {
    padding-top: 20px;
    font-weight: 200;
}

.login-link {
    font-weight: bold;
}

.headerP {
    font-size:x-large;
    font-weight:500;
    padding-bottom: 20px;
}

.logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 0%,0.5);
    width: 100%;
    height: 125px;
    top: 190px;
    flex: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-family: "Norse";
    color: #f0eded;
    font-size: 100px;
}

.formBody-title {
    text-align: left;
    margin-bottom: 20px;
}

.dispRow {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 20px;
}

.dispCol {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* gap: 5px; */
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
    background-color: whitesmoke;
    border: 1px solid #d3d0d0;
    border-radius: 3px;
    box-sizing: border-box;
    height: 26px;
    width: 20vw;
    padding: 5px;

}

input:invalid {
    box-shadow: 0 0 1px 1px rgb(243, 90, 90);
}

input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px rgb(90, 100, 243);
}

label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant-caps: all-petite-caps;
    font-weight:bold;
    color: rgb(48, 47, 47);
}

label:has(+input[required])::after {
    content: " *";
}

.formP {
    text-align: start;
    font-size: small;
}